/* General Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper {
    position:relative;
}
a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

/* Header Settings */
    
header {
    padding: 5% 20%;
    color: white;
    background: url('img/jumbo.png');
    background-size: cover; 
}
header div {
    height: 100px;
    float: left; 
}

    /* NavBar */

.head-logo {
    width: 20%;
}
.head-nav {
    text-align: center;
    width: 60%;
}
.head-nav-ul li{
    display: inline-block;
}
.head-login {
    text-align: right;
    width: 20%;
}
.head-login a {
    background-color: white;
    padding: 1em 2em;
    border: 1px solid black;
    color: black;
}

    /* Jumbotron */

.head-jumbo {
    text-align: center;
    width: 100%;
}

/* Section Setting */
main {
    float: left;
}
main section:nth-child(2n+2) {
    background-color: beige;
}
section {
    display: inline-block;
    padding: 5% 20%;
    width: 100%;
}
.section-svg {
    float: left;
    width: 60%;
}
.section-aside {
    font-size: 1.2em;
    float: right;
    width: 40%;
    padding: 5%;
}
.section-aside p {
    margin: 5% 0;
}

/* Specific of single Section */

/* Footer */

footer {
    background-color: #23272A;
    color: white;
    width: 100%;
    padding: 5% 20%;
    float: left;
}

footer div {
    float: left;
    display: inline-block;
}
.foot-social {
    width: 30%;
}
.foot-list {
    width: 17.5%;
    text-align: center;
}
.foot-list li {
    list-style: none;
}
.foot-logo {
    width: 100%;
    border-top: 1px solid white;
}



/* Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* End Debug */